/* Use a single css file so that formatting is consitent throughout. Makes classes reusable*/


.pageLink {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    text-align: center;
}

.pageLink:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.pageLink:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}


h1 {
    font-size: 40px;
}

.mainPage {
    background-color: darkblue;
}

.layout {
}

.selected {
    background-color: pink;
}

.dataEntry {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
}

.dataEntry input {
    width: 100%;
    margin-bottom: 5px;
}

.dataEntry button {
    width: 100%;
}

.descriptionInput {

}

.additionalInput {

}

.selectOption {

}

.escapeRoomPage {
    text-align: center;
}

.escapeRoomPage button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px; 
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.escapeRoomPage button {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.escapeRoomPage button {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.escapeRoomPage button {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.pageTitle {
}

.backButton {

}

.addNewButton {

}

.escapeRoomPageTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    text-align: left;
    overflow-y: scroll;
}

.escapeRoomPageTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.escapeRoomPageTable th,
.escapeRoomPageTable td {
    padding: 12px 15px;
}

.escapeRoomPageTable tbody tr {
    border-bottom: 1px solid;
}

.escapeRoomPageTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.escapeRoomPageTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.buildGameMenu {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    width:100%;
}

.createNewGame {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.createNewGame p {
    font-size: 20px;
}

.createNewGame input {
    width: 100%;
    margin-bottom: 5px;
}


.mainPageLinks {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
}